body {
  background-color: #fbfbfb;
}

.container {
  width: 100%;
  height: auto;
}

.page_header {
  width: 100%;
  height: 20rem;
  background-color: #179ac9;
}

.logo {
  top: 0rem;
  left: 0rem;
  width: 12rem;
  height: 12rem;
  border-radius: 6rem;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 9.5rem 10.5rem;
  background-image: url(../../../img/logo.png);
  position: absolute;
}

.statistics_area {
  width: 100%;
  height: auto;
  padding: 0rem 2rem 0rem 2rem;
}

.statistics_panel {
  width: 100%;
  height: auto;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgba(154, 182, 253, 0.1);
}

.statistics_table {
  width: 100%;
  border-width: 0rem;
  border-collapse: collapse;
  cursor: default;
}

.statistics_table thead td {
  color: #179ac9;
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.statistics_table tbody td {
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
}

.statistics_table tbody tr:last-child td {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.statistics_table tbody .account_count {
  width: 25%;
  color: #6b6399;
}

.statistics_table tbody .profit_total {
  color: #80a8ff;
}

.statistics_table tbody .loss_total {
  width: 25%;
  color: #f7c3a7;
}

.data_list_area {
  width: 100%;
  height: auto;
  padding: 0rem 2rem 0rem 2rem;
}

.data_list_table {
  width: 100%;
  cursor: default;
  margin-top: 2rem;
  border-width: 0rem;
  border-collapse: collapse;
}

.data_list_table td {
  font-size: 2.4rem;
  text-align: left;
  padding: 2rem 4rem 2rem 4rem;
}

.data_list_table tbody tr:nth-child(odd) {
  background-color: rgba(128, 203, 196, 0.3);
}

.data_list_table tbody tr:nth-child(even) {
  background-color: rgba(154, 154, 26, 0.1);
}

.data_list_table tbody tr td:nth-child(2) {
  text-align: right;
}

.data_list_table thead td {
  font-weight: bolder;
  background-color: #c5dae3;
}

.data_list_table thead td:first-child {
  border-top-left-radius: 1rem;
}

.data_list_table thead td:last-child {
  text-align: right;
  font-weight: normal;
  border-top-right-radius: 1rem;
}

.profit_chart {
  width: 100%;
  height: 50rem;
  padding: 0rem 0rem 0rem 0rem;
}

.profit_chart canvas {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.page_footer {
  width: 100%;
  height: auto;
  color: #898c95;
  padding: 2.5rem;
  font-size: 1.9rem;
  text-align: center;
}
